ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
}
h2 {
  margin-top: 0.5em !important;
}
/*393934*/
/*E1C08E*/
/*C1AF88*/
/*E1BA84*/
/*8E8054*/